<!DOCTYPE html>
<html>
	<head>
		<title>My Notemaster app</title>
		<meta charset="utf-8" />
		<script type="text/javascript" src="https://unpkg.com/vue"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="http://davidtkatz.com/public_css/noteMaster.css">
		<style type="text/css">
			.myCard {
				text-align: center;
			    border: 1px solid rgba(0,0,0,.125); 
			    border-radius: .25rem;
			    padding-left: 8px;
			    padding-right: 8px;
			    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
			    margin: 10px;
			}
			.title,.date,.content {
				color: #52779c;
				font-weight: bold;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<h3>{{title}}</h3>
			<div class="form">
				<div class="form-group">
					<div class="form-group">
						<label>Note title</label>
						<input class="form-control" type="text" v-model="note.title" />
					</div>
					<div class="form-group">
						<label>Note texte</label>
						<textarea class="form-control" type="text" v-model="note.text"></textarea>
					</div>
				</div>
				<button class="btn btn-primary" @click="addNote">Submite</button>
			</div>
			<div class="row">
				<div class="col-sm-4 note" v-for="(note, index) in notes">
					<div class="myCard">
						<button class="close" @click="removeNote(index)">&times;</button>
						<div class="card-block">
							<h4 class="card-title">{{note.title}}</h4>
							<h6 class="card-subtitle mb-2 text-muted">{{note.date}}</h6>
							<p class="card-text">{{note.text}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			var app = new Vue({
				el: '#app',
				data: {
					title: 'Notemaster',
					note: {
						title: '',
						text: ''
					},
					notes: [
						{
							title: 'test',
							text: 'test test',
							date: new Date(Date.now()).toLocaleString()
						}
					]
				},
				methods: {
					addNote() {
						let { text, title } = this.note
						this.notes.push({
							text,
							title,
							date: new Date(Date.now()).toLocaleString()
						})
					},
					removeNote(index) {
						this.notes.splice(index, 1)
					}
				}
			})
		</script>
	</body>
</html>

